<div class="sidebar">

    <h4 class="text-center text-white py-3">
        <i class="bi bi-grid-fill"></i> GMS
    </h4>

    <hr class="text-light">

    <a href="/" class="menu-item">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="/groups" class="menu-item">
        <i class="bi bi-people-fill"></i>
        Groups
    </a>

    <a href="/groups/add" class="menu-item">
        <i class="bi bi-plus-circle-fill"></i>
        Add Group
    </a>

    <a href="/logout" class="menu-item logout">
        <i class="bi bi-box-arrow-right"></i>
        Logout
    </a>

</div>